.isDone{
  color:#198754;
}
.notDone {
  color: #dc3545;
}

.itemEntry {
  text-align: center;
}

.listItem {
  margin: 5px;
}


body {
  padding: 5%;

}

* {
  font-family: Helvetica;
  font-weight: bold;
}

h1 {
  color: black;
  text-align: center;
}

#text {
  display: inline-block;
}

#addItem{
  width: 80%;
  margin-top: 10px;
}

.itemText {
  text-align: center;
  font-size: larger;
}

.finish, .delete {
  width: 45%;
}